h3 {
	font-size: 20px;
	font-weight: 200;
	padding: 10px;
	border: 2px solid #000;
	text-align: center;
	margin-right: 70%;
	font-family: Arial, Helvetica, sans-serif;
}
.newAnimal, button {
	margin-right: 20px;
	padding: 10px;
	font-size: 20px;
	background-color: darkred;
	color: #fff;
	border-radius: 23px;
	font-family: Arial, Helvetica, sans-serif;
}
img.gif {
	margin: 10px 10px 10px 10px;
	border: 3px dashed red;
}

#animalForm {
	margin: 10px 70% 10px 10px;
	border: 2px solid;
	padding: 20px;
}
#animalForm, animal-input {
	font-size: 20px;
}
#addAnimal, button {
	margin-right: 20px;
	padding: 5px;
	font-size: 20px;
	background-color: darkred;
	color: #fff;
	text-align: center;
}
